<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="shortcut icon" href="/static/img/favicon-32x32.png" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet"><link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#popular">Tendencias</a>
                </li>
                <li>

                    <a href="./register.html">Registrarse</a>
                </li>
                <li>
                    <a href="https://www.google.com/?hl=es" target="_blank">Inicar Sesion</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <img src="../static/img/mario-bros.jpg" alt="">
            </div>
            <div>
                <h2>The super Mario Bros. Movie</h2>
            </div>
        </section>
        <section id="more-info">
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8YQM6VlfiqM?si=J-OAjVWV7U3jKXJW"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div>
                <table border="2">
                    <thead>
                        <tr>
                            <th colspan="2">Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Status</strong></td>
                            <td>Release</td>
                        </tr>
                        <tr>
                            <td><strong>Original Language</strong></td>
                            <td>English</td>
                        </tr>
                        <tr>
                            <td><strong>Budget</strong></td>
                            <td>$ 100.000.000,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </section>
    </main>
</body>

</html>